html, body, p, input, select {
    font-family: $bodyFamily;
}
h1,h2,h3,h4,h5 {
    font-family: $headerFamily;
}
h1 {
    font-size: 32px;
    font-size: 2rem;

    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 1.2px;

    margin-block-start: 0;
    color: $header;
}
