.idea/
*.iml
out/

WSDL
resources/wsdl/
dk/acto/auth/generated/

# Gradle
.gradle/
build/
gradle.properties
generated/
ui/src/main/resources/static/css

# Webapp
node_modules/

*.hprof

docker-compose.yaml

fafnir.jks

fafnir-storage/

dist/

# Eclipse LSP
.project
.classpath
.factorypath
.settings/
bin/
