// The Acto colors
$purple: #6118D6;
$gold: #B7986E;
$navy: #2E2A43;
$grey: #A8A8A8;
$white: #F1F1F1;

// Color purposes 
$htmlBackground:  white;
$contentBackground: $white;


// Sizing and placement, only ie8 supported values.
$height: 38px;
$heightSmal: 24px;

$padding: 8px;
$paddingLarge: 16px;

$margin: 16px;
$marginLarg: 32px;

// Styling, only ie8 supported values.
$borderRadius: 19px;


// Typography
$bodyFamily: Barlow, “Helvetica Neue”, Arial, sans-serif;
$headerFamily: LL Simple Regular Web, Trebuchet MS, sans-serif;
