<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--HTML 4 Strict  to avoid deprecated HTML elements -->
<html lang="en">

<head>
    <title>Claims</title>
    {{> metadata}}
</head>

<body>
<div>
    <div>
        <div>
            <div>{{>navbar}}</div>
            <div>
                <h1>Claims</h1>
            </div>
        </div>

        <table>
            <tr>
                <th>{{#isUser}}Subject{{/isUser}}{{^isUser}}OrganisationId{{/isUser}}</th>
                <th>Name</th>
                <th>Claims</th>
                <th><a href="/iam/clm">Add</a></th>
            </tr>
            {{#tableData}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{csvClaims}}</td>
                <td>Edit</td>
            </tr>
            {{/tableData}}
        </table>
    </div>
</div>
</body>
</html>
