<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--HTML 4 Strict  to avoid deprecated HTML elements -->
<html lang="da" xmlns:th="http://thymeleaf.org">

<head>
    <title>Login - Fafnir</title>
    {{> metadata}}
</head>

<body>
<div>
    <h1>Login:</h1>
    <div class="inner-content">
        <p class="headline-choose-institution"></p>
        <form action="/hazelcast/login" method="post">
            <div>
                <label>
                    Username / email:
                </label>
                <input type="text" name="email">
            </div>
            <br/>
            <div>
                <label>
                    Password:
                </label>
                <input type="password" name="password">
            </div>
            <br/>
            <button class="submitButton" type="submit">
                Login
            </button>
        </form>
    </div>
</div>
</body>

</html>
