<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--HTML 4 Strict  to avoid deprecated HTML elements -->
<html lang="en">

<head>
    <title>Organisation</title>
    {{> metadata}}
</head>

<body>
<div>
    <h1>{{action}}Organisation</h1>
    <div>
        <form action="/iam/org/{{tableData.organisationId}}" method="{{verb}}{{^verb}}post{{/verb}}">
            <div>
                <label>Organisation Name:
                    <input type="text" name="organisationName" value="{{tableData.organisationName}}">
                </label>
            </div>
            <div>
                <label>Contact Email:
                    <input type="text" name="contactEmail" value="{{tableData.contactEmail}}">
                </label>
            </div>
            <div>
                <label>Organisation Id:
                    <input type="text" name="organisationId" value="{{tableData.organisationId}}">
                </label>
            </div>
            <div>
                <input type="hidden" name="created" value="{{tableData.created}}">
                <button class="submitButton" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
