<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--HTML 4 Strict  to avoid deprecated HTML elements -->
<html lang="en">

<head>
    <title>Login - SAML</title>
    {{> metadata}}
</head>

<body>
<div>
    <div>
        <div>
            <div>{{>navbar}}</div>
            <div>
                <h1>Choose SAML provider</h1>
            </div>
        </div>
        <div>
            <ul>
                {{#registrationIds}}
                <li><a href="{{baseUrl}}/{{.}}" {{.}}</li>
                {{/registrationIds}}
            </ul>
        </div>
    </div>
</div>
</body>

</html>
