<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--HTML 4 Strict  to avoid deprecated HTML elements -->
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Edit User</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../scss/styles.css">
</head>

<body>
<div class="container">
    <div class="content">
        <h1>User</h1>
        <div class="inner-content">
            <form action="/iam/usr/{{tableData.subject}}" method="{{verb}}{{^verb}}post{{/verb}}">
                <div>
                    <label for="username">Name:
                    </label>
                    <input id="username" type="text" name="name" value="{{tableData.name}}">
                </div>
                <div>
                    <label for="userPassword">Password:
                    </label>
                    <input id="userPassword" type="text" name="password" value="{{tableData.password}}">
                </div>
                <div>
                    <label for="userMetaId">Meta Id:
                    </label>
                    <input id="userMetaId" type="text" name="metaId" value="{{tableData.metaId}}">
                </div>

                <div>
                    <label for="userSubject">Subject:
                    </label>
                    <input id="userSubject" type="text" name="subject" value="{{tableData.subject}}">
                </div>
                <div>
                    <input type="hidden" name="created" value="{{tableData.created}}">
                    <button class="submitButton" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
