<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header>
	<title>Find2Learn Choose Institution - UNI•Login</title>
	<link href="/styles/default.css" rel="stylesheet" type="text/css"/>
	<meta charset="utf-8"/>
</header>
<body>
<div class="row">
	<div>
		<p>Choose your institution</p>
	</div>
	<div>
		<p class="headline-choose-institution"></p>
		<form action="/callback-unilogin-choose-organization" method="post">
			<select id="institution" name="institution">
				<option value="">Select Institution</option>
				<option th:each="institution : ${institutionList}"
				        th:value="${institution.id}"
				        th:text="${institution.id}+' : '+${institution.name}"></option>
			</select>
			<input type="hidden" name="auth" th:value="${auth}">
			<input type="hidden" name="timestamp" th:value="${timestamp}">
			<input type="hidden" name="user" th:value="${user}">
			<br/>
			<button type="submit">
				<strong>Login using Institution</strong>
			</button>
		</form>
	</div>
</div>
</body>
</html>