<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login - Economic</title>
    <!-- <link href="/styles/default.css" rel="stylesheet" type="text/css"/> -->
    <link href="styling/styles.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    </style>
</head>

<body>
    <div class="container">
        <div class="content">
            <h1>Indtast dine oplysninger:</h1>
            <div class="inner-content">
                <!-- Why is the p headline choose institution there? -->
                <!-- <p class="headline-choose-institution"></p> -->
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 55 55" xml:space="preserve">
                    <rect x="11.787" width="43.223" height="8.909" />
                    <rect x="-0.01" y="11.867" width="8.908" height="43.223" />
                </svg>
                <form action="/economic/login" method="post">
                    <div>

                        <label>
                            Email:
                        </label>
                        <input type="text" name="email">
                    </div>
                    <br />
                    <div>
                        <label>
                            Kundenummer:
                        </label>
                        <input type="password" name="customerNumber">
                    </div>
                    <br />
                    <button class="submitButton" type="submit">
                        <strong>Login</strong>
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>