<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login - Economic</title>
    <link href="/styles/default.css" rel="stylesheet" type="text/css"/>
    <meta charset="utf-8"/>
</head>
<body>
<div class="row">
    <div>
        <p>Indtast dine oplysninger</p>
    </div>
    <div>
        <p class="headline-choose-institution"></p>
        <form action="/economic/login" method="post">
            <label>
                Email
                <input type="text" name="email">
            </label>
            <br/>
            <label>
                Kundenummer
                <input type="password" name="customerNumber">
            </label>
            <br/>
            <button type="submit">
                <strong>Login</strong>
            </button>
        </form>
    </div>
</div>
</body>
</html>