
// The Acto colors
$purple: #6118D6;
$gold: #B7986E;
$navy: #2E2A43;
$grey: #A8A8A8;
$white: #F1F1F1;

// Good practice sizes for touch devices, uniform design
$height: 38px;
$heightSmal: 24px;
$padding: 8px;
$paddingLarge: 16px;
$margin: 16px;
$marginLarg: 32px;
$borderRadius: 4px;
$bodyFamily: Barlow, “Helvetica Neue”, Arial, sans-serif;
$headerFamily: LL Simple Regular Web, Trebuchet MS, sans-serif;



* {
    box-sizing: border-box;
}
html {
    // Fluid typography fallback
    font-size: 20px; 
    // 13px font at 320pxVW, and 26 at 1920
    // https://css-tricks.com/snippets/css/fluid-typography/
    font-size: calc(13.3px + (22 - 13.3) * ((100vw - 320px) / (1920 - 320)));
    font-family: $bodyFamily;
    // background-color: $gold;
}
html, body {
// first lines are for IE8, centering in a table.
    margin: 0;
    padding: 0.83em;
    width: 100%;
    height: 100%;
    display: table;
// IE8 ends 

}

h1,h2,h3,h4,h5 {
    font-family: $headerFamily;
}

.container {
// first lines are for IE8, centering in a table.
    display: table-cell;
    text-align: center;
    vertical-align: middle;
// IE8 ends 
    .content {
    // first lines are for IE8, centering in a table.
        display: inline-block;
        text-align: left;
    // IE8 ends 

    // IE9 begins
        position: relative;
        padding: $paddingLarge;
        background: $white;
        border-radius: $borderRadius;
    }
}
h1 {
    // font-size: 32px;
    // font-size: 1rem;
	line-height: 1.5;
    letter-spacing: 1.2px;
    // border-bottom: dashed $navy 2px;
    margin-block-start: 0;
    // color: $white;
    color: $navy;
}
.inner-content {
    svg {
        // fill: $gold;
        fill: $purple;
        height: 4rem;
        position: absolute;
        top: -1.9rem;
        left: -2rem;
        // top: -24px;
        // left: -24px;
        margin: $padding;
    }
}

button {
    min-height: $height;
    width: 100%;
    padding: $padding $padding;

    text-align: left;
    background: $purple;
    color: $white;
    border: none;
    //outline: none;
    border-radius: $borderRadius;
    font-size: 0.9rem;
    &:hover {
        background: lighten($purple,5%);
    }
    &:focus {
        // outline-color: $navy;
    }
    &:active {
        // outline-color: $navy;
    }

}
.submitButton {
    margin-top: 8px;
    letter-spacing: 1px;
    // border-left: 6px solid $navy;
    ::after {
        content: "";
        float: right;
        
    }
    &:active, &:focus {
        border-left: 6px solid $gold;
    }
}


form {
    position: relative;
    padding: $padding;
    label {
        float: left;
        height: $heightSmal;
        margin: 0 0 1rem 0;
        padding: $padding 0 0 0;
        font-weight: bold;
        // color: $gold;
        color: $navy;
        // font-size: 18px;
        font-size: 1rem;
    }
    input {
        //position: absolute;
        height: $heightSmal;
        margin: 0 0 1rem 0;
        min-width: 196px;
        width: 100%;
        border-radius: $borderRadius;
        border: none;
        float: right;
        padding-left: 0.6rem;
        // border-left: 6px solid $navy;
        outline: none;
        &:active, &:focus {
            // outline-color: $purple;
            outline: none;
            border-left: 6px solid $gold;
        }
    }
    select {
        min-height: $heightSmal;
        width: 100%;

        margin-bottom: $margin;
        padding: $padding $padding;
    
        background: white;
        color: $navy;
        border: none;
        
        letter-spacing: 1px;
        border-radius: $borderRadius;
        font-size: 1rem;
        &:active, &:focus {
            outline-color: $navy;
        }
        option {
            min-height: $height;
            &:active, &:focus {
                outline-color: $navy;
            }
        }
    }
}