// The Acto colors
$main: #2E2A43;
$accent: #6118D6;
$header: #2E2A43;
$grey: #A8A8A8;
$white: #F1F1F1;

// Color purposes
$htmlBackground: #ffffff;
$contentBackground: #FFF;


// Sizing and placement, only ie8 supported values.
$height: 48px;
$heightSmal: 26px;

$padding: 8px;
$paddingLarge: 16px;

$margin: 16px;
$marginLarg: 32px;

// Styling, only ie8 supported values.
$borderRadiusCards: 7.5px;
$borderRadiusButton: 5px;

// Typography
$bodyFamily: sans-serif;
$headerFamily: serif;
