// The Acto colors
$main: #708090;
$accent: #334c4f;
$header: #2f4f4f;
$grey: #778899;
$white: #F1F1F1;

// light slategrey
// slategrey #708090

// Color purposes
$htmlBackground: #ffffff;
$contentBackground: #FFF;


// Sizing and placement, only ie8 supported values.
$height: 48px;
$heightSmal: 26px;

$padding: 8px;
$paddingLarge: 16px;

$margin: 16px;
$marginLarg: 32px;

// Styling, only ie8 supported values.
$borderRadiusCards: 7.5px;
$borderRadiusButton: 5px;

// Typography
$bodyFamily: 'Open Sans', 'Roboto', sans-serif;
$headerFamily: 'Open Sans', 'Roboto', sans-serif;
