//$primary: #708090;
//$secondary: #334c4f;
//https://coolors.co/08486d-99c56e-ff6b69-e0ff55-23c19d
$primary: #23C19D;
$secondary: #08486D;
$secondaryAlt: #99C56E;
$warning: #E0FF55;
$danger: #FF6B69;


$color-bg: #f7f7f7;
$color-bg-alt: #d2d2d2;

$color-text: #000;

$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$font-family-heading: $font-family-base;
