
button {
    min-height: $height;
    width: 100%;
    padding: $padding $padding;
    padding: 0.4em 1em;

    text-align: left;
    background: $main;
    color: $white;
    border: none;
    //outline: none;
    border-radius: $borderRadiusButton;
    //border-radius: 19px;
    font-size: 0.9rem;


    &:hover {
        background: lighten($main,5%);
        @include boxShadow(1);
    }
    &:focus {
        // outline-color: $header;
    }
    &:active {
        // outline-color: header;
    }

}
.submitButton {
    margin-top: 8px;
    letter-spacing: 1px;
    // border-left: 6px solid $header;
    transition: box-shadow ease 0.3s;
    will-change: box-shadow;
    ::after {
        content: "";
        float: right;

    }
    &:active, &:focus {
        border-left: 6px solid $accent;
        @include boxShadow(3);
    }
}
