button {
    min-height: $height;
    width: 100%;
    padding: $padding $padding;
    padding: 0.5em 1em;

    text-align: left;
    background: $main;
    color: $white;

    border: none;
    border-radius: $borderRadiusButton;
    font-size: 0.9rem;
    will-change: box-shadow, background;
    &:hover {
        @include boxShadow(1);
        background: lighten($main,10%);
        cursor: pointer;
    }
    &:focus, &:active {
      @include boxShadow(1);
      background: lighten($main,10%);
    }
}
.submitButton {
    margin-top: 1em;
    letter-spacing: 1px;
    background: transparent;
    color: black;
    border: 2px solid slategrey;

    will-change: box-shadow, border;
    transition: all ease 0.2s;
    &:hover {
        background: transparent;
        box-shadow: none;
    }
    &:active, &:focus {
        @include boxShadow(3);
        background: transparent;

        border: 3px solid $accent;
    }
}
