// REM not supported before IE10
form {
  position: relative;
  padding: $padding;
  min-width: 288px;
  label {
    float: left;
    height: $heightSmal;
    margin: 0 0 1rem 0;
    padding: $padding 0 0 0;
    font-weight: bold;
    color: $header;
    font-size: 18px;
    font-size: 1rem;
  }

  input {
    height: $height;
    min-width: 196px;
    width: 100%;

    margin: 0 0 18px 0;
    margin: 0 0 1.14rem 0;
    padding-left: 10.8px;
    padding-left: 0.6rem;

    float: right;
    border: 1px solid $grey;
    border-left: 6px solid transparent;
    border-right: none;
    border-top: none;
    outline: none;
    border-radius: 2px;
    transition: all ease 0.2s;
    will-change: border-left;
    &:hover {
      border-bottom: 2px solid $main;
      border-left: 6px solid rgba($accent, .75);
    }
    &:active, &:focus {
      outline: none;
      border-bottom: 2px solid $main;
      border-left: 6px solid $accent;
    }
  }

  select {
    min-height: $height;
    width: 100%;

    margin-bottom: $margin;
    padding: $padding $padding;

    background: white;
    border: 2px solid $grey;
    border-radius: $borderRadiusButton;

    letter-spacing: 1px;
    font-size: 18px;
    font-size: 1rem;
    color: $header;
    will-change: border-bottom-left-radius, border-bottom-right-radius;
    &:hover {
      @include boxShadow(1);
    }
    &:active, &:focus {
      outline-color: lighten($grey, 5%);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      @include boxShadow(2);
    }

    option {
      min-height: $height;
      &:active, &:focus {
        outline-color: $main;
      }
    }
  }
}
