// REM and EM is supported from ie10 and onward, formula: 18*emValue = approx pixel value.

* {
    box-sizing: border-box;
}
html {
    // Fluid typography fallback
    font-size: 20px;
    // 13.3px font at 320pxVW, and 18 at 1920
    // https://css-tricks.com/snippets/css/fluid-typography/
    font-size: calc(13.3px + (18 - 13.3) * ((100vw - 320px) / (1920 - 320)));
    font-family: $bodyFamily;
    background-color: $htmlBackground;
}
html, body {
// first lines are for IE8, centering in a table.
    margin: 0;
    padding: $paddingLarge;
    padding: 0.83em;
    width: 100%;
    height: 100%;
    display: table;
// IE8 ends

}

.container {
// first lines are for IE8, centering in a table.
    display: table-cell;
    text-align: center;
    vertical-align: middle;
// IE8 ends

    .content {
    // first lines are for IE8, centering in a table.
        display: inline-block;
        text-align: left;
    // IE8 ends

    // IE9 begins
        position: relative;
        padding: $paddingLarge;
        padding: 2.75em 2em 1.75em;
        background: $contentBackground;
        border-radius: $borderRadiusCards;
        //border-top-left-radius: 0;
    // IE9 ends

        //@include boxShadow(1);
        border: 2px solid $header;

    }
    .inner-content {
        width: 100%;
    }
}

