<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--HTML 4 Strict  to avoid deprecated HTML elements -->
<html lang="en">

<head>
    <title>Pick Provider</title>
    {{> metadata}}
</head>
<body>
<div>
    <div>
        <div>{{>navbar}}</div>

        <h1>Provider Configuration for {{organisation.organisationName}}</h1>
        <p>{{provider.providerName}} {{#supportsClaims}}<a href="/iam/clm/org/{{organisation.organisationId}}">Claims</a>{{/supportsClaims}}</p>
        <form action="/iam/org/{{organisation.organisationId}}/pro/conf" method="post">
            <div>
                <input type="hidden" name="providerId" value="{{provider.providerId}}">

                {{#providerConf}}
                <label for="{{getKey}}">{{getKey}}:</label>
                <input id="{{getKey}}" type="text" name="{{getKey}}" value="{{getValue}}">
                {{/providerConf}}
            </div>
            <div>
                <button type="submit">Confirm</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
