<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--HTML 4 Strict  to avoid deprecated HTML elements -->
<html lang="en">

<head>
    <script type="application/javascript">
        document.cookie = "jwt=" + window.location.hash.substring(1) + ';max-age=86400;path=/;samesite=lax;secure'
        setTimeout(() => window.location.replace('/iam/usr/page/1'), 500)
    </script>
    <title>Successful login...</title>
    {{> metadata}}
</head>
<body>
<div>
    <div>
        Redirecting...
    </div>
</div>
</body>
</html>
